[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
python-dotenv = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
pymssql = "*"
pyodbc = "*"
sqlalchemy = "*"
pandas = "*"
cerberus = "*"
pyjwt = "*"
flask-bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.8"
